.brand {

}
.container {
  font-weight: bold;
  width: 100%;
  padding: 0
}

.navbar {
  display: flex;
  width: 100%;
  background-color: #336699;
  margin-bottom: 0;
}

.navbar-brand {
  color: #fff
}

// .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
//     color: white;
// }

.map {
  // display: flex;
  // justify-content: flex-start;
  // width: 70%;
  // background-color: beige
  overflow: scroll;
  width: 100vw;
  height: 70vh;
}

.sidebar {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 25vw;
  background-color: green

}

.map-container {
  position: relative;
}

.selector {
  background-color: gray;
  z-index: 99;
  position: absolute;
  top: 15vh;
  left: 5vw;
}

.selector select {
  opacity: 0.2;
}

.itinerary {
  background-color: blue
}

li {
  display: flex;
  align-items: row;
  justify-content: space-between;
  padding: 0 20px
}

li a {
  color: white
}
